---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="404 Not Found">
   <h1 class="font-semibold text-white text-6xl "> Asi que ya podemos empezar a configurar esto pagina 404 
    </h1>
</Layout>