---
import Layout from "../layouts/Layout.astro"
---
<Layout title="About the project ">
    <h1>About the proyect </h1>
    <p>the SpaceX lauches project is a demor for the astro course</p>
</Layout>