<a class="flex items-center cursor-pointer gap-2 transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed bg-button text-white shadow-button hover:shadow-button-hover hover:scale-110 px-6 py-5 text-lg font-bold md:text-3xl rounded-xl justify-center w-full first:mt-5 md:first:mt-0  md:w-auto">
   <slot name="before"/>
    <slot/>
    <slot name="after"/>
</a>