---
import HeaderButton from "./HeaderButton.astro"
import Launches from "./Launches.astro"

console.log('Javascript')
---
<header class= 'py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6'>
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
            SpaceX launches 
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            All the information about SpaceX launches
        </p>
    </div>
    <nav class="flex flex-col items-center justify-between w-full text-center">
        <HeaderButton class="text-white " href="/">utimate lanzamientos</HeaderButton>
        <HeaderButton class="text-white" href="/oldest">
            <svg  slot="after" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-ad-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10 -10 10c-5.43 0 -9.848 -4.327 -9.996 -9.72l-.004 -.28l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm-3.5 6a2.5 2.5 0 0 0 -2.495 2.336l-.005 .164v4.5l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-1h1v1l.007 .117a1 1 0 0 0 1.986 0l.007 -.117v-4.5l-.005 -.164a2.5 2.5 0 0 0 -2.495 -2.336zm6.5 0h-1a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h1a3 3 0 0 0 3 -3v-2a3 3 0 0 0 -3 -3zm0 2a1 1 0 0 1 1 1v2a1 1 0 0 1 -.883 .993l-.117 .007v-4zm-6.5 0a.5 .5 0 0 1 .492 .41l.008 .09v1.5h-1v-1.5l.008 -.09a.5 .5 0 0 1 .492 -.41z" /></svg>
            utimateLos mas Viejos</HeaderButton>
    </nav>
  
</header>